@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: auto;
  background-color: #2a2a2a;
  font-family: "Raleway", "Inter";
  font-size: 1rem;
  line-height: 1.6;
}

.header {
  margin: 0 160px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 70px;
  margin-bottom: 150px;
}
.nav__link {
  margin-left: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #e2e2e2;
  position: relative;
}
.nav__link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  border-radius: 4px;
  background-color: #e7e7e7;
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.nav__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.main {
  margin: 0 160px;
  color: #e7e7e7;
}
.main h1 {
  width: 672px;
  height: 125px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 97%;
  letter-spacing: -0.03em;
}
.main__arrow {
  display: block;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-top: 5px solid #e7e7e7;
  border-right: 5px solid #e7e7e7;
  margin: 50px 0 193px;
  transform: rotate(135deg);
  position: relative;
  left: 11px;
}
.main__arrow:hover {
  border-top: 5px solid rgb(105, 105, 105);
  border-right: 5px solid rgb(105, 105, 105);
  transition: border-top 0.2s linear, border-right 0.2s linear;
}

.section {
  font-family: "Inter";
  font-style: normal;
  width: 1120px;
  height: 473px;
  margin-bottom: 100px;
}
.section__flex {
  display: flex;
  justify-content: space-between;
}
.section__flex a {
  margin-right: 10px;
}
.section__flex img {
  border-radius: 20px;
}
.section h2 {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 121.5%;
  letter-spacing: -0.03em;
}
.section p {
  width: 356px;
  height: 169px;
  margin-bottom: 134px;
  font-weight: 400;
  font-size: 18px;
  line-height: 121.5%;
  letter-spacing: -0.03em;
}
.section a {
  color: #e7e7e7;
  font-weight: 500;
  font-size: 18px;
  line-height: 121.5%;
  letter-spacing: -0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.line {
  width: 1120px;
  height: 2px;
  margin-top: 106px;
  background-color: #e7e7e7;
}

.footer {
  margin: 167px 160px;
  color: #e2e2e2;
}
.footer__container {
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
.footer__name {
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: -0.03em;
}
.footer a {
  margin-left: 37px;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #e2e2e2;
  position: relative;
}
.footer a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  border-radius: 4px;
  background-color: #e2e2e2;
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.footer a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.switch-btn {
  display: inline-block;
  width: 66px;
  height: 28px;
  border-radius: 19px;
  background: #e2e2e2;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
}
.switch-btn::after {
  content: "";
  height: 20px;
  width: 26px;
  border-radius: 17px;
  background: #2a2a2a;
  top: 4px;
  left: 4px;
  transition-duration: 300ms;
  position: absolute;
  z-index: 1;
}

.switch-on {
  background: #e7e7e7;
}

.switch-on::after {
  left: 37px;
}
