/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*--------------------*/

// START

$bg: #f3f3f3;
$h1: #181717;
$h2: #606060;

body {
    max-width: 1440px;
    margin: auto;
    background-color: $bg;

    font-family: 'Raleway', 'Inter';
    font-size: 1rem;
    line-height: 1.6;
}

.header {
    margin: 0 160px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 70px;
    margin-bottom: 150px;

    &__link {
        margin-left: 30px;

        color: $h1;

        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 120%;
        letter-spacing: -0.03em;

        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2.5px;
            border-radius: 4px;
            background-color: #18272f;
            bottom: -5px;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
        }

        &:hover::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}

.container1 {
    margin: 0 160px;

    display: flex;
    justify-content: space-between;

    h1 {
        width: 544px;
        height: 129px;
        margin-bottom: 32px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
        line-height: 97.2%;
        letter-spacing: -0.03em;
    }

    p {
        width: 575px;
        height: 359px;
        margin-bottom: 136px;

        color: $h2;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 117%;
        letter-spacing: -0.03em;
    }
}

.container2 {
    margin: 60px 160px 0;

    &__parts {
        display: flex;
        justify-content: flex-start;

        margin-bottom: 72px;

        &__flex1 {
            width: 124px;
            height: 51px;
            margin-right: 60px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 121.5%;
            text-decoration: underline;
        }

        &__flex2 {
            width: 401px;
            height: 44px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 121.5%;
        }
    }
}

.prefooter {
    width: 1120px;
    height: 166px;
    margin: 0 160px 210px;

    &__flex {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        width: 347px;
        height: 71px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 117%;
        letter-spacing: -0.03em;
    }

    &__resume {
        display: block;
        margin-top: 30px;

        color: $h1;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 121.5%;
        letter-spacing: -0.03em;
    }

    &__email {
        width: 338px;
        height: 37px;

        color: $h1;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 117%;
        letter-spacing: -0.03em;
    }

    &__line {
        width: 1120px;
        height: 2px;
        margin-bottom: 71px;
        background-color: $h1;
    }
}

.footer {
    margin: 167px 160px;

    &__container {
        padding-bottom: 70px;
        display: flex;
        justify-content: space-between;
    }

    &__name {
        font-weight: 500;
        font-size: 21px;
        line-height: 120%;
        letter-spacing: -0.03em;
    }

    a {
        margin-left: 37px;

        font-weight: 500;
        font-size: 21px;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: $h1;

        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2.5px;
            border-radius: 4px;
            background-color: $h1;
            bottom: -5px;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
        }

        &:hover::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}

// SWITCH-BTN

.switch-btn {
    display: inline-block;
    width: 66px;
    height: 28px;
    border-radius: 19px;
    background: $h2;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;

    &::after {
        content: '';
        height: 20px;
        width: 26px;
        border-radius: 17px;
        background: $bg;
        top: 4px;
        left: 4px;
        transition-duration: 300ms;
        position: absolute;
        z-index: 1;
    }
}

.switch-on {
    background: $h1;
}
.switch-on::after {
    left: 37px;
}
